@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all {
    background-color: #13072E;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(130deg, #13072E, #3f2182, #3f2182);
    padding: 10px 10px 10px 40px;
    height: 75vh;
    width: 100%;
    position: relative;
    top: -210px;
    border-radius: 15px;
    margin: 20px 20px 25px 25px;
    margin-top: 90px;
    
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    height: 100vh;
    top: 170px;
    padding: 10px 10px 0 5px;
    
}

.intro2{
    position: absolute;
    width: 900px;
}

.hi{
    font-family: "Noto Sans JP", sans-serif;
    color: whitesmoke;
    position: relative;
    font-size: xxx-large;
    width: 75px;
    bottom: 80px;
    left: 0;
}

.hii{
    font-family: "Noto Sans JP", sans-serif;
    color: white;
    position: relative;
    width: 280px;
    bottom: 35px;
    left: 25px;
}

.my{
    color: aliceblue;
    position: absolute;
    width: 1200px;
    left: 95px;
    font-family: "Rubik Doodle Shadow", system-ui;
    
}

.intro h2 {
    text-align: left;
    font-family: "Dongle", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 76px;
    left: 109px;
    color: gold;
}

.intro p{
    color: aliceblue;
    text-align: left;
    font-family: "Dongle", sans-serif;
    font-size: xx-large;
    line-height: 25px;
    position: absolute;
    top: 140px;
    left: 111px;
    overflow: hidden;
}

.name{
    color: yellow;

}

.Portfolio{
    font-family: "Dongle", sans-serif;
    position: absolute;
    color: beige;
    font-weight: bold;
    top: 240px;
    left: 110px;
    background-color:#A569BD;
    font-size: xx-large;
    border: 1px solid #BB8FCE ;
    border-radius: 6px;
    padding: 1px 1px 1px 1px;
    width: 170px;
    transition: all .3s ease-in-out;
}

.Portfolio:hover{
    background-color: transparent;
    color: #BB8FCE;
}

.About{
    font-family: "Dongle", sans-serif;
    position: absolute;
    font-weight: bold;
    color: #A569BD;
    top: 240px;
    left: 320px;
    background-color:transparent;
    font-size: xx-large;
    border: 1px solid #A569BD;
    border-radius: 6px;
    padding: 1px 1px 1px 1px;
    width: 170px;
    transition: all .3s ease-in-out;
}

.About:hover{
    background-color: #A569BD;
    color: beige;
}

.socialmedia{
    position: absolute;
    top: 400px;
    left: 110px;
    transition: all 0.3s ease;

}

.socialmedia a{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 20px;
    text-align: center;
    background-color:#3f2182;
    border-radius: 50%;
    margin: 0 60px 10px 0;
    line-height: 50px;
    margin-top: 10px;
    transition: all 0.5s ease;
    font-size: x-large;
}


.socialmedia a:hover{
    background-color:aliceblue;
    transform: rotateY(360deg);
}

.profilepic{
    position: absolute;
    left: 1060px;
    top: -130px;
    border-radius: 100%;
    width: 600px;
    height: 600px;
    filter: drop-shadow(5px 5px 5px black);    
}

header{
    
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

.logo{
    width: 300px;
   
    position: absolute;
    top: -80px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    top: 37.5px;
    right: 600px;
}

header nav ul li{
    margin: 10px;
}

header nav ul li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin-left: 30px;
}

.home::after{
    content: "";
    background-color: beige;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 65px;
    transition: all 0.5s ease;

}

.home:hover::after{
    width: 13%;
}

.portfolio::after{
    content: "";
    background-color: beige;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 205px;
    transition: all 0.5s ease;
}

.portfolio:hover::after{
    width: 17%;
}

.about::after{
    content: "";
    background-color: beige;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 375px;
    transition: all 0.5s ease;
}

.about:hover::after{
    width: 20%;
}

.contact::after{
    content: "";
    background-color: beige;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 570px;
    transition: all 0.5s ease;
}

.contact:hover::after{
    width: 16%;
}

.login{
    font-family: "Poppins", sans-serif;
    position: absolute;
    right: -390px ;
}

.login::after{
    content: "";
    background-color: beige;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.login:hover::after{
    width: 100%;
}

.register{
    font-family: "Poppins", sans-serif;
    position: absolute;
    right: -550px ;
    
}

.register::after{
    content: "";
    background-color: beige;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.register:hover::after{
    width: 100%;
}

header nav ul li a:hover{
    text-decoration: none;
    color: gold;
}

.toggle_btn{
    color: aliceblue;
    font-size: 30px;
    visibility: hidden;
}

.dropdown{
    position: absolute;
    left: 100rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
}

.dropdown.open{
    height: 240px;
    color: aliceblue;
}

.dropdown ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: 2.5px;
    margin-left: 30px;
}

.dropdown li a:hover{
    text-decoration: none;
    color: gold;
}

@media (min-width: 308px) and (max-width: 399px) {
    .toggle_btn{
        visibility: visible;
        display: block;
        position: absolute;
        top: 45px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        left: 250px;
    }

    .logo{
        width: 150px;
        top: -10px;
        position: absolute;
        left: 75px;
        height: 150px;
    }
    
    .welcome{
        height: 83vh;
        top: -210px;
    }

    .hi{
        display: none;
    }

    .intro{
        left: -160px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;   
        justify-content: left;
        align-items: center;         
    }

    .hii{
        display: none;
    }

    .intro2{
        height: 0;
        top: -60px;
        left: 40px;
        width: 800%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: left; 
    }

    .my{
        max-width: 195%;
        top: 155px;
        left: 80px;
        text-align: center;
    }

    .intro2 h1{
        font-size: x-large;
        max-width: 165%;
    }

    .intro h2{
        text-align: center;
        top: 250px;
        width: 120%;
        left: 127px;
        
    }

    .intro p{
        font-size: x-large;
        top: 325px;
        left: 120px;
        width: 130%;
        justify-content: center;
        text-align: center;
    }

    .Portfolio{
        top: 485px;
        width: 70%;
        left: 110px;
        font-size: x-large;
        
    }

    .profilepic{
        top: -130px;
        left: 150px;
        width: 200px;
        height: 200px;
    }

    .About{
        top: 485px;
        width: 70%;
        left: 225px;
        font-size: x-large;

    }
    
    .socialmedia{
        top: 540px;
        left: 185px;
        width: 300px;
    }


    .socialmedia a{
        max-width: 0;
        font-size: medium;
        margin-left: -30px;
        

        
    }

    header nav ul{
        display: none;
    }

    .dropdown.open{
        height: ;
        width: 100%;
        position: relative;
        left: -2px;
        top: 105px;
        visibility: hidden;
    }

}

@media (min-width:400px) and (max-width: 430px){
    

    .toggle_btn{
        visibility: visible;
        display: block;
        position: absolute;
        top: 45px;
        color: white;
        font-size: 30px;
        cursor: pointer;
        left: 340px;
    }

    .logo{
        width: 200px;
        top: -30px;
        position: absolute;
        left: 95px;
        height: 200px;
    }
    
    .welcome{
        height: 83vh;
        top: -210px;
    }

    .hi{
        display: none;
    }

    .intro{
        left: -160px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;   
        justify-content: left;
        align-items: center;         
    }

    .hii{
        display: none;
    }

    .intro2{
        height: 0;
        top: -60px;
        left: 40px;
        width: 1500%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: left; 
    }

    .my{
        width: 110%;
        top: 155px;
        left: 85px;
        text-align: center;
    }

    .intro h2{
        text-align: center;
        top: 250px;
        width: 80%;
        left: 140px;
        
    }

    .intro p{
        font-size: x-large;
        top: 335px;
        left: 90px;
        width: 120%;
        text-align: center;
    }

    .Portfolio{
        top: 450px;
        width: 50%;
        left: 110px;
        
    }

    .profilepic{
        top: -130px;
        left: 195px;
        width: 200px;
        height: 200px;
    }

    .About{
        top: 450px;
        width: 50%;
        left: 265px;

    }
    
    .socialmedia{
        top: 530px;
        left: 145px;
        width: 500px;
    }

    .socialmedia a{
        max-width: 0;
    }

    header nav ul{
        display: none;
    }

    .dropdown.open{
        height: ;
        width: 100%;
        position: relative;
        left: -2px;
        top: 105px;
        visibility: hidden;
    }
}

@media (min-width: 431px)  and (max-width: 768px){ 
   .toggle_btn{
        visibility: visible;
        display: block;
        position: absolute;
        top: 45px;
        color: white;
        font-size: 30px;
        cursor: pointer;
        left: 340px;
    }
    .logo{
        width: 200px;
        top: -30px;
        position: absolute;
        left: 100px;
        height: 200px;
    }

    .hi{
        display: none;
        
    }

    .intro{
        left: -140px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;   
        justify-content: left;
        align-items: center;         
    }

    .hii{
        display: none;
    }
}