@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #13072E;
}

.all {
    background-color: #13072E;
    min-height: 100vh;
    overflow: hidden;
}
.welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(130deg, #13072E, #3f2182, #3f2182);
    padding: 10px 10px 10px 40px;
    height: 700px;
    border-radius: 15px;
    margin: 20px 20px 25px 25px;
    box-shadow: 1px 1px 2px 2px white;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 200px;
    padding: 10px 10px 0 5px;
    
}

.intro2{
    position: absolute;
    width: 900px;
}

.hi{
    font-family: "Noto Sans JP", sans-serif;
    color: beige;
    position: relative;
    font-size: xxx-large;
    width: 75px;
    bottom: 80px;
    left: 0;
}

.hii{
    font-family: "Noto Sans JP", sans-serif;
    color: beige;
    position: relative;
    width: 280px;
    bottom: 35px;
    left: 25px;
}

.my{
    color: aliceblue;
    position: absolute;
    width: 1200px;
    left: 95px;
    font-family: "Rubik Doodle Shadow", system-ui;
    
}

.intro h2 {
    text-align: left;
    font-family: "Dongle", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 73px;
    left: 109px;
    color: beige;
}

.intro p{
    color: aliceblue;
    text-align: left;
    font-family: "Dongle", sans-serif;

    font-size: xx-large;
    line-height: 25px;
    position: absolute;
    top: 130px;
    left: 111px;
}

.name{
    color: beige;

}

.Portfolio{
    font-family: "Dongle", sans-serif;
    position: absolute;
    color: beige;
    font-weight: bold;
    top: 219px;
    left: 110px;
    background-color:#BB8FCE;
    font-size: xx-large;
    border: 1px solid #BB8FCE ;
    border-radius: 6px;
    padding: 1px 1px 1px 1px;
    width: 170px;
}

.About{
    font-family: "Dongle", sans-serif;
    position: absolute;
    font-weight: bold;
    color: #BB8FCE;
    top: 220px;
    left: 320px;
    background-color:transparent;
    font-size: xx-large;
    border: 1px solid #BB8FCE;
    border-radius: 6px;
    padding: 1px 1px 1px 1px;
    width: 170px;
}

.socialmedia{
    position: absolute;
    top: 400px;
    left: 110px;
    transition: all 0.3s ease;


}

.socialmedia a{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 20px;
    text-align: center;
    background-color:#3f2182;
    border-radius: 50%;
    margin: 0 60px 10px 0;
    line-height: 50px;
    margin-top: 10px;
    transition: all 0.5s ease;
    font-size: x-large;
}


.socialmedia a:hover{
    background-color:aliceblue;
    transform: rotateY(360deg);
}

img{
    position: absolute;
    left: 1010px;
    top: -165px;
    border-radius: 100%;
    width: 650px;
    height: 600px;
    filter: drop-shadow(10px 10px 10px black);    
}

.navbar nav{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}
.navbar nav ul{
    list-style-type: none;
}

.navbar nav ul li{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.navbar nav ul li a{
    text-decoration: none;
    color: aliceblue;
}