
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #13072E;
}

.all {
    background-color: #13072E;
    height: 1000px;
}
.welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(130deg, #13072E, #3f2182, #3f2182);
    padding: 10px 10px 10px 40px;
    height: 700px;
    border-radius: 15px;
    margin: 20px 20px 25px 25px;
    border: white solid 1px;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 200px;
    padding: 10px 10px 0 5px;
    
    

}

.intro h1 {
    text-align: left;
    font-family:fantasy;

}

.hi{
    color: aliceblue;
}



.intro h2 {
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top:90px;
    right: 435px;
    color: #5DADE2;
}

.intro p{
    color: aliceblue;
    text-align: left;
    font-family: cursive;
    position: absolute;
    top: 160px;
    left: 20px;
}

.name{
    background-image: url(./R\ \(1\).jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 455px;
}

.Portfolio{
    position: absolute;
    color: black;
    top: 250px;
    left: 20px;
    background-color:#BB8FCE;
    font-size: larger;
    border: 1px solid white ;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    width: 170px;
}

.About{
    position: absolute;
    color: #BB8FCE;
    top: 250px;
    left: 240px;
    background-color:transparent;
    font-size: larger;
    border-color: #BB8FCE;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    width: 170px;
}

.socialmedia{
    position: absolute;
    top: 430px;
    left: 20px;
    transition: all 0.3s ease;


}

.socialmedia a{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 20px;
    text-align: center;
    background-color:#3f2182;
    border-radius: 50%;
    margin: 0 30px 10px 0;
    line-height: 50px;
    margin-top: 10px;
    transition: all 0.5s ease;
    font-size: x-large;
}


.socialmedia a:hover{
    background-color:grey;
    transform: rotateY(360deg);
}

img{
    position: absolute;
    left: 900px;
    top: -110px;
    border-radius: 150px;
    width: 700px;
    height: 500px;
    filter: drop-shadow(10px 10px 10px #000000);    
}

.navbar section{
    width: 10vh;
    height: 10vh;
    color: aliceblue;
    
}